body {
    
    font-size: 16px;
    font-family: Verdana, sans-serif;
    
}

body{
    width: 599px;
    height: 200px;
    margin: 5px;
    padding: 200px;
}

header {
    background: #112
}
header h1,
header p {
    margin: 0;
}

header img {
    width: 280px;
    vertical-align: bottom
}

.mypic{
    opacity: 0;
    transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
    }
    .mypic{
    opacity: 1;
    transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
    }


/* footer {
    font-size: .8rem;
    position: absolute;
    bottom: 10px;
    right: 10px;
} */

.output {
    background: rgb(212, 40, 40);
    position: relative;
}
